# Ignore EVERYTHING by default
*

# Allow only these project files
!.gitignore
!README.md
!app.py
!requirements.txt

!templates/
!templates/index.html

!static/
!static/script.js
!static/style.css
!static/taskora-hero-bg.png
